

body {
    padding: 10px;
    font-family: sans-serif;
}

a#myAdLink{
    display: inline-block;
    background-color: #2480d6;
}

#myAd{
    width: 650px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

#myAd .myAdImage{
    position:absolute;
    background: url(graphics.png) no-repeat 0px 0px;
}

#myAd #myCloud{
    width: inherit;
    height:inherit;
    top:0;
    left:0;
}

#myAd #myAd_photo{
    width: inherit;
    height: 143px;
    background-position: 0 -325px;
    bottom:0;
    left:0;
}

#myAd_text1, #myAd_text2{
    position: absolute;
    width: inherit;
    text-align: center;
    color: #ffffff;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 0 0 3px rgba(0, 0, 102, .5 );
    top:0;
    left:0;

}

#myAd #marker{
    width: 60px;
    height: 95px;
    background-position: -243px -230px;
    top: 90px;
    left: 290px;
}

#myAd #shadow{
    width: 35px;
    height: 16px;
    background-position: -311px -236px;
    top: 175px;
    left: 306px;
}

#myAd #myAd_text3{
    width: 510px;
    height: 28px;
    background-position: -2px -202px;
    top: 58px;
    left: 73px;
}

#myAd #surfboard{
    width: 237px;
    height: 62px;
    background-position: -2px -233px;
    top: 110px;
    left:306px;
}
